<!DOCTYPE html>
<html lang="en">
<form>
        <main>
            <div style="padding: 10px;">Outline of the Scheme3</div>
            <div style="width: 100%; padding: 10px;"  class="container" >
                <h1 style=" border: 1px solid #cdcdcd; color: orange; text-align: center; font-size: 15px;">BCBS Layout 3</h1>
                <pre>3. <b><u>Scheme 3</u></b>:</pre>
                <pre>3.1 <b><u>Scheme Name</u></b>:</pre>
                <pre>3.1.1. BCBS Layout 3</pre>
    <pre>3.2. <b><u>LOCATION</u></b></pre>
    <pre>3.2.1. Kosanavanipalem in Chippada Panchayat of Bheemunipatnam Mandalam,Visakhapatnam.</pre>
   <pre>3.3 <b><u>Introduction</u></b>:</pre>
   <p>3.3.1. The overflow demand for plots and the overwhelming response to the Scheme-2, of the Society prompted the Society to launch the Scheme-3. However, the exorbitant land price in and around Bheemunipatnam which shot up from the Rs. 2.50 Lakhs per acre, the rate of purchase for Scheme-2, rose to Rs. 25 Lakhs per acre by 2005, necessitated the Society to go beyond Bheemunipatnam and its vicinity. The peak land price near Bheemunipatnam was about 80 to 100 lakhs per acre.</p>

   <p>3.3.2. Under these prohibitive land prices, the Society looked for land away from Bheemunipatnam and within a distance of 15 to 25 kms from Bheemunipatnam. On a careful and intensive search, the Society identified a bit of about 20 Acres of land at Kosanavanipalem, near Citynagar, in the Chippada Panchayat at about Rs. 6 Lakhs per Acre.</p>
   
   <p>3.3.3. The factors that prompted the purchase of this land are</p>
   
   <ul>
   <li>The sea front is about 2.5 kms from the site.</li>
   <li>There is no scope for development of the land between the site and the sea front since the land in between is a reserve forest area.</li>
   <li>The site will be easily accessible to the proposed 4 lane East Coast Highway from Ichapuram in Srikakulam District to Tada in Nellore District.</li>
   <li>Then, the site will be about 30 kms from Visakhapatnam.</li>
   <li>It is a quiet calm non-polluted area.</li>
   </ul>
   <pre>3.4 <b><u>LAND</u></b>:</pre>
   
   <p>3.4.1. The land belongs to about more than 50 cultivators and each owning an acre or few cents only. The first purchase was on 13-05-2005. Unfortunately, by the time this bit of land was registered, the land price shot up to more than Rs. 10 Lakhs per acre. Under this unfavourable factor, the Society purchased the remaining land at Rs. 10 Lakhs or more per acre with great difficulty and even against resistance from the then Secretary of the Managing Committee. Further, the last bit of 4 cents purchased in August 2008 at Rs. 45 Lakhs per acre.</p>
   
   <p>The details of the 20 sale deeds for the purchase of the 18 Acres 98 cents of the land registered by the Society are at Annexure – 3.1. It costed Rs. 243 Lakhs which includes the legal and registration expenses. The Society applied for approval for land conversion for use from agricultural to non-agricultural purposes on 22-11-2006. However, the then Tahsildar objected to showing of the village roads as approach roads to the layout and created several hurdles.</p>
   
   <p>3.4.2. Fortunately, the then RDO intervened and dissuaded the Tahsildar from raising objections outside his purview. In view of this suggestion by the RDO, the approval for the land conversion was accorded on16-04-2008 vides Annexure – 3.2. It costed the Society Rs. 3.6 Lakhs for securing the approval for the land conversion. Thus, this process took more than 17 months.</p>
   <pre>3.5 <b><u>Development</u></b>:</pre>
   
   <p>3.5.1. The Society applied for the BLP to the Director of Town and Country Planning (DTCP) Department of the Andhra Pradesh Government, the competent authority to approve the layout, on 13-04-2006 through the Chippada Panchayat. The BLP was issued on 11-04-2007.</p>
   
   <p>3.5.2. The layout development, on securing the BLP from the DTCP on 11-04-2007, (Annexure – 3.3) was planned and tenders were invited on 11-04-2007 and 3 tenders were received. The Tender Evaluation Committee selected M/s. Visakha Engineering works as the lowest and the Board awarded the work for Rs. 107 Lakhs on 01-07-2007. However, the development work obstructed and slopped by some women sellers of the land due to land dispute in Survey No. 156/46. A police complaint was lodged on 21-08-2007 and dispute settled in August, 2009 through the intervention of the local Panchayat President and others.</p>
   
   <p>3.5.3. The development work recommenced in September, 2009 after a delay of 15 months. Meanwhile, the price scenario changed. The prices of cement, steel etc rose sharply and almost doubled. Accordingly, the estimate for the development had to be revised from Rs. 107 Lakhs to Rs. 182 Lakhs. The development work was completed by October, 2009.</p>
   
   <p>3.5.4. The Society applied for the approval of the layout plan on 02-10-2009. However, several objections were raised for no valid reasons. It was one of the best laid out layout plan. It took 5 months to convince the authorities and secure the approval on 05-02-2010 (Annexure – 3.4).</p>
   
   <p>3.5.5. The special feature of this layout development is providing a park at a cost Rs. 12 Lakhs and a Coconut Plantation at a cost of Rs. 9 Lakhs. As such, the expenditure on the present development is Rs. 300 Lakhs. It contains Rs. 257 Lakhs as actual development cost and Rs. 43 Lakhs as incidental expenses for the various approvals.</p>
   
   <p>3.5.6. The remaining balance of Rs. 169 Lakhs is set apart for the planned capital expenditure and annual maintenance. On account of these delays, cost escalations, unforeseen expenses, the initially envisaged cost of about Rs. 850/- per Sq. Yard had to be revised to Rs. 1,200/-. Even at this level it compares so well to the market sale price of Rs. 2,800/- to Rs. 3,000/- per Sq. Yard with no notable facilities in the so called nearby layouts.</p>
   
   <p>3.5.7. The layout is a gated layout with a single entry and exit. It has 40 ft wide black topped roads (5.04 Acs) with 220 avenue trees, water distribution system to each plot with a overhead elevated water tank (0.9 lakhs), a three phased electric power system with four transformers, an attractive main park with statues (1.0 Acs) subsidiary park (0.85 Acs). It has 145 plots (16 of 267 Sq. yards) 36 of 500 Sq. Yards 93 plots, with their size varying from 290 Sq. Yards to 1239 Sq. Yards. 700 coconut trees were planted on these plots.</p>
   <pre>3.6 <b><u>Maintenance</u></b>:</pre>
   
   <p>3.6.1. The Society undertakes the safety and maintenance of the plots till the members build their homes. This may be another ten to fifteen years from now. These services are provided to the plot holders without no extra cost and included in the plot price of Rs. 1,200/- per Sq. Yard.</p>
   
   <p>3.6.2. The safety of the plot from unauthorized encroachment is ensured by keeping round the clock vigil by the watchmen engaged. Also, the entry into the layout restricted to authorized persons and the members are requested to show their photo identity card issued by the Society for entry into the layout.</p>
   
   <p>3.6.3. The maintenance mainly relates to watering the coconut plantation in the plots of the plot holder, the upkeep of the Parks, regular repair to the roads, power supply etc. The electricity bill per month itself is Rs. 3,000/- at the non-revised tariff. The watering and nurturing the 700 Coconut Plantation costs about Rs. 25,000/- per month.</p>
   
   <p>3.6.4. The maintenance expenditure which works out to Rs. 5.6 Lakhs per annum at current price level is met from the interest earned from the maintenance fund.</p>
   <pre>3.7 <b><u>Proposed Development</u></b>:</pre>
   <p>3.7.1. It is proposed to construct a Watchman residence cum Society site office. Also, build two decent bed rooms on the top of the structure to facilitate members to stay and relax in a calm unpolluted place at the week-ends. Further, the Society plans to assist the members in the construction of their homes in case a member so desires and arrange the construction by the society at his cost.</p>
   <pre>3.8 <b><u>MEMBERSHIP</u></b>:</pre>

   
   <p>3.8.1. The Society admitted a limited number of members so that each member is provided with a plot. Thus, there are 145 members on its rolls and the plots are registered in their names.</p>
   
            </div>
        </main>
        <br>
        <br>
    
</form>

</html>