<div style="padding: 10px; margin: 0; border: 1px solid #cdcdcd; color: #3D1567;">

    <h1
        style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;"> Election Council</h1>
   
        
              <p style="padding: 10px; margin: 0; font-size: 16px;">It is an independent body exclusively concerned with the elections to the posts of Directors in each year. The present council was constituted in  the year  Feb 2022.</p>
      
              <p style="padding: 10px; margin: 0; font-size: 16px;">Thus, it will organize the elections to the Management Board in 2019, 2020 and 2021. Generally, the elections are held in the month of April, each year. At the time of elections,the council appoints an election officer to assist the council and attend to the election process with full authority.</p>
        
              <h2
              style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;">1.The Present Election Council Consists of the following</h2>
              <br>
              <div style=" border:1px solid #cdcdcd; display: inline-block;text-align: center;width: 100%;">
              <div style="  display: inline-block;text-align: center;">
                <div style="display: inline-block; vertical-align: top;">
                    <img class="Logo" src="assets/IMG/no-image-avl.jpg">
                    <p style=" color: #3D1567; "><strong>K.Simha Chalam</strong></p>
                    <p style=" color: orange; ">Chairman</p>
                </div>
            </div>
           
            <div style="  display: inline-block;">
                <div style="display: inline-block; vertical-align: top;">
                    <img class="Logo" src="assets/IMG/no-image-avl.jpg">
                    <p style=" color: #3D1567; "><strong>Smt. J. Lakshmi</strong></p>
                    <p style=" color: orange; ">Member</p>
                </div>
            </div>
            
            <div style=" display: inline-block;">
                <div style="display: inline-block; vertical-align: top;">
                    <img class="Logo" src="assets/IMG/no-image-avl.jpg">
                    <p style=" color: #3D1567; "><strong>G.Manoj Kumar</strong></p>
                    <p style=" color: orange; ">Member</p>
                </div>
            </div>
        </div>
</div>