<!DOCTYPE html>
<html lang="en">
<form>
        <main>
            <div style="padding: 10px;">Outline of the Scheme6</div>
            <div style="width: 100%; padding: 10px;"  class="container" >
                <h1 style=" border: 1px solid #cdcdcd; color: orange; text-align: center; font-size: 15px;">SCHEME - 6. (BCBS Layout 6 at Attada)</h1>
                <pre>6. <b><u>SCHEME - 6. (BCBS Layout 6 at Attada)</u></b>:</pre>
                <pre>6.1 <b><u>Scheme Name</u></b>:</pre>
                <pre>6.1.1. BCBS Layout – 2 on at Gollala Tallavalasa.</pre>
    <pre>6.2. <b><u>LOCATION</u></b></pre>
    <p>6.2.1. Attada Village in Jami Mandalam, Vizianagaram District (Near Korukonda Railway Station).</p>
   <pre>6.3 <b><u>Introduction</u></b>:</pre>
   <p>6.3.1. This is another Scheme envisaged while the market was in its boom and the land prices were soaring. During the search for land a large chunk of about 25 Acres from a single owner was identified in a quiet calm location near the Korukonda Railway Station at a comparatively low rate of Rs. 8 Lakhs while the nearby land was priced at about Rs. 22 to 25 Lakhs per acre.</p>

   <p>6.3.2. Thus, the prime reason which prompted the purchase of land was its accessibility to the rail link. It was viewed that the boom continues and a number of suburbs will come up along the rail track between Visakhapatnam and Vizianagaram in a similar pattern of other metors. Apart from this factor, the location in an non-polluted calm area near to (1 ½ km) from river Gostani from a single owner at a reasonable price induced the Society to purchase this land.</p>
   <pre>6.4. <b><u>LAND</u></b></pre>
   
   <p>6.4.1. The Society purchased the first bit of land of about 24-69 Acres from the single owner at Rs. 8 Lakhs and registered it on 9-8-2007. Then, the land was surveyed and it was found that there were several bits of land inside the land purchased are not yet sold by the formers. Such bits were 22 and to extent 7-70 Acres. In view of this, efforts were initiated to purchase then from the formers and this continued for more than 3 years. The last bit of land was purchased on 21-04-2011. The redeeming factor is that the land price was not raised as the boom disappeared. The extent of land purchased is 32.39 Acres. The details of these registrations are provided at Annexure – 6.1.</p>
   <pre>6.5. <b><u>LAND CONVERSION</u></b></pre>
   
   <p>6.5.1. The Society applied for the conversion of the land purchased till then by it to the RDO on 04-04-2008. This was approved vide its order No. D.Dis-335/2008 C dated 27-05-2008 (Annexure- 6.2). Again, the Society applied for approval to convert the land for non-agricultural purposes on 21/08/2010 for an extent of 3.82 acres. The approval for 3.53 Acs was only given on 23-08-2010 stating the other land was Innam Land (Annexure – 6.3).The Society represented that the land is no more Innam land and it is currently only rythuvari land. The issue is closed.</p>
   
   <pre>6.6. <b><u>DEVELOPMENT</u></b></pre>
   <p>6.6.1. The Society drawn a layout plan for the land and applied to the Local Panchayats (Attada and Korukondapalem) for their initial approval to enable the Society to apply to VUDA for final approval to the layout (Annexure – 6.4). The Panchayat approvals were obtained on 10-02-2011 from Attada Panchayat and on 19-05-2011 from Korukondapalem Panchayat. Then, the layout plan was submitted to VUDA on 26-06-2011.</p>
   
   <p>6.6.2. VUDA scrutinized the layout for five months (from 26-06-2011) and returned it 15-10-2011 with the suggestion to revise the layout to provide for lower income and weaker sections in about 20 percent of the layout as per G.O. Ms. No. 45/2011 dated 28-01-2011. The Society, accordingly, revised the layout and resubmitted the plan on 08-11-2011. VUDA asked the Society on 06-06-2012 to furnish the Nala Certificate for land to an extent of 1 Acre 91 cents and mark the roads.</p>
   
   <p>6.6.3. Accordingly the layout had been approved by VUDA and issued Lp No 55/2018 on dated 14-06-2018 (Annexure – 6.7), there will be 25 plots of 150 Sq. Yards and 122 plots of  EWS to an extent of 90 Sq. Yards , 72 Sq .Yards and 89 Sq.Yards . The layout will have 40 ft black topped roads (11.35 Acs) Single water tanks 1.50 lakhs litre for water supply to each plot, power supply as per VMRDA norms, park spreading over 3.38 Acs, a community hall to seat 600, a site office cum watchman residence with 2 guest rooms, etc.</p>
   
            </div>
        </main>
        <br>
        <br>
    
</form>

</html>
