<div style="padding: 10px; margin: 0; border: 1px solid #cdcdcd; color: #3D1567;">

    <h1
        style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;"> The Committees of the Society</h1>
   
        <p style="padding: 10px;">The Management Board formed the following six committees to assist it. These are Advisory   positions with no executive authority.</p>

        <pre style="padding: 20px; font-size: 16px;">1. Dispute settlement committee.<br>2. Public Relations Committee.<br>3. Development and Planning Committee.<br>4. Finance Committee.<br>5. Business Promotion Committee.<br>6. Legal Committee. </pre>

        <p style="padding: 10px;"> Each committee shall have a Chairman and may consist of at least two more members and a maximum of five members. There is no fixed term for these committees and function as per the directions by the Chairman of the Committee. The Chairman chooses the committee members.</p>

<p style="padding: 10px;">The present committee details are as under:</p>
              <h2
              style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;">1.Dispute Settlement Committee</h2>
              <br>
              <div style=" border:1px solid #cdcdcd; display: inline-block;text-align: center;width: 100%;">
              <div style="  display: inline-block;text-align: center;">
                <div style="display: inline-block; vertical-align: top;">
                    <img class="Logo" src="assets/IMG/no-image-avl.jpg">
                    <p style=" color: #3D1567; "><strong>Shri. S. Suryanarayana</strong></p>
                    <p style=" color: orange; ">Chairman</p>
                </div>
            </div>
           
            <div style="  display: inline-block;">
                <div style="display: inline-block; vertical-align: top;">
                    <img class="Logo" src="assets/IMG/no-image-avl.jpg">
                    <p style=" color: #3D1567; "><strong>Shri.G.Govinda Rao</strong></p>
                    <p style=" color: orange; ">Member</p>
                </div>
            </div>
            
            <div style=" display: inline-block;">
                <div style="display: inline-block; vertical-align: top;">
                    <img class="Logo" src="assets/IMG/no-image-avl.jpg">
                    <p style=" color: #3D1567; "><strong>Smt. K. Padmarani</strong></p>
                    <p style=" color: orange; ">Member</p>
                </div>
            </div>
            
        </div>
        <h2
            style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;">2.Finance Committee</h2>
            <p style="padding: 10px;">The Committee will reconstructed in an appropriate time.</p>
            <h2
            
            style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;">3.Development and Planning Committee</h2>
            <p style="padding: 10px;">The Committee will reconstructed in an appropriate time.</p>
            <h2
            style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;">4.Public Relations Committee</h2>
            <p style="padding: 10px;">The Committee will reconstructed in an appropriate time.</p>
            <h2
            style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;">5.Business Promotion Committee</h2>
            <p style="padding: 10px;">The Committee will reconstructed in an appropriate time.</p>
            <h2
            style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;">6.Legal Committee</h2>
            <p style="padding: 10px;">The Committee will reconstructed in an appropriate time.</p>
        </div>