
footer{
    background-color: #115da0;
    }
  form {
    width: 85%;
    min-height: auto;
    max-height: auto;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}

    p{
        width: 90%; 
        margin: 0 auto; 
        padding: 10px; 
        font-size: 18px;
       color: steelblack;
    }
    button {
        background-color: lightgray;
        color: black;
        border: none;
        cursor: pointer;
        margin-right: 5px;
    }
    a
    {
        color: white;
    }
    button:hover {
        background-color: #115da0;
        color: white;
    }
    a:hover{
        text-decoration: underline;
    }