<div style="padding: 10px; margin: 0; border: 1px solid #cdcdcd; color: #3D1567;">

    <h2 style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;"> Board Of
        Directors</h2>

    <div style=" border-bottom:1px solid #cdcdcd; ">
        <div style="display: inline-block; vertical-align: top;">
            <img class="Logo" src="assets/IMG/no-image-avl.jpg">
        </div>
        <div style="padding: 30px; margin: 0; display: inline-block; vertical-align: center;">
            <p style=" color: #3D1567; "><strong>G. Hari Gopala Rao</strong></p>
            <p style=" color: orange; ">President</p>
            <p>&#9742; 9866651514</p>
            <button
                style="font-size: 12px;border-radius: 5px; background-color: #5bc0de;color: white; margin-left: 200px;" >Know
                More</button>
        </div>
    </div>
    <div style=" border-bottom:1px solid #cdcdcd; ">
        <div style="display: inline-block; vertical-align: top;">
            <img class="Logo" src="assets/IMG/no-image-avl.jpg">
        </div>
        <div style="padding: 30px; margin: 0; display: inline-block; vertical-align: center; ">
            <p style=" color: #3D1567; "><strong>Vusirikala Narayana Rao</strong></p>
            <p style=" color: orange; ">Vice President</p>
            <p>&#9742; 9490498400</p>
            <button
                style="font-size: 12px;border-radius: 5px; background-color: #5bc0de;color: white; margin-left: 200px;">Know
                More</button>
        </div>
    </div>
    <div style=" border-bottom:1px solid #cdcdcd; ">
        <div style="display: inline-block; vertical-align: top;">
            <img class="Logo" src="assets/IMG/no-image-avl.jpg">
        </div>
        <div style="padding: 30px; margin: 0; display: inline-block; vertical-align: center;">
            <p style=" color: #3D1567; "><strong>Pediredla Suri Babu</strong></p>
            <p style=" color: orange; ">Secretary</p>
            <p>&#9742; 9542111199</p>
            <button
                style="font-size: 12px;border-radius: 5px; background-color: #5bc0de;color: white; margin-left: 200px;">Know
                More</button>
        </div>
    </div>
    <div style=" border-bottom:1px solid #cdcdcd; ">
        <div style="display: inline-block; vertical-align: top;">
            <img class="Logo" src="assets/IMG/no-image-avl.jpg">
        </div>
        <div style="padding: 30px; margin: 0; display: inline-block; vertical-align: center;">
            <p style=" color: #3D1567; "><strong>Simhadri Veerabhadra Rao</strong></p>
        <p style=" color: orange; ">Director</p>
        <p>&#9742; 9849556078</p>
            <button
                style="font-size: 12px;border-radius: 5px; background-color: #5bc0de;color: white; margin-left: 200px;">Know
                More</button>
        </div>
    </div>
    <div style=" border-bottom:1px solid #cdcdcd; ">
        <div style="display: inline-block; vertical-align: top;">
            <img class="Logo" src="assets/IMG/no-image-avl.jpg">
        </div>
        <div style="padding: 30px; margin: 0; display: inline-block; vertical-align: center; ">
            <p style=" color: #3D1567; "><strong>V. Tulasi Narayana Gupta</strong></p>
        <p style=" color: orange; ">Director</p>
        <p>&#9742; 90302 6012</p>
            <button
                style="font-size: 12px;border-radius: 5px; background-color: #5bc0de;color: white; margin-left: 200px;">Know
                More</button>
        </div>
    </div>
    <div style=" border-bottom:1px solid #cdcdcd; ">
        <div style="display: inline-block; vertical-align: top;">
            <img class="Logo" src="assets/IMG/no-image-avl.jpg">
        </div>
        <div style="padding: 30px; margin: 0; display: inline-block; vertical-align: center;">
            <p style=" color: #3D1567; "><strong>Surapaneni Sesha Ratnam</strong></p>
            <p style=" color: orange; ">Director</p>
            <p>&#9742; 9848408040</p>
            <button
                style="font-size: 12px;border-radius: 5px; background-color: #5bc0de;color: white; margin-left: 200px;">Know
                More</button>
        </div>
    </div>


</div>