<div style="padding: 10px; margin: 0; border: 1px solid #cdcdcd; color: #3D1567;">

    <h2
        style="padding: 10px; margin: 0; color: #3D1567; text-align: left; border-bottom:1px solid #cdcdcd;"> THE MANAGEMENT BOARD</h2>
   
        
              <p style="padding: 10px; margin: 0; font-size: 16px;">The Management Board reports and responsible to the General Body. It is the media for the General Body to execute its policies and decisions. A Management Board as per this provision was formed with 10 elected Directors on 27-04-2008. It is a perpetual body.</p>
      
              <p style="padding: 10px; margin: 0; font-size: 16px;">In case a post of a Director falls vacant due to disqualification or resignation or removal or expiry of a Director during his/her tenure, the post is filled in by co-opting a Director as per Bye-Law nos. 4.3.6 or 4.3.7 for the remaining period of the term of that Director only.</p>
        
         
              <p style="padding: 10px; margin: 0; font-size: 16px;">President Vice-President Secretary The tenure of these office Bearers is generally for 5 years or for the term of the Director who was elected as the office bearer. These office Bearers under the guidance and supervision of the Management Board carryout the executive functions of the Society, on day to day basis.</p>
         
              <p style="padding: 10px; margin: 0; font-size: 16px;">The elected President assigns the areas of work to other office Bearers and they report to the President and the President, in turn, reports to the Management Board and presides over its meetings. Normally, the Management Board meets once in a month or 45 days. However, the Bye-Laws envisage at least a minimum of 6 meetings in a year.</p>
        
          
</div>