
<div>
    <h2>Details of G. Hari Gopala Rao (President)</h2>
    <p><strong>SHRI. G. HARI GOPALA RAO</strong></p>
    <p>FROM 25-04-2022 TO 24-04-2027</p>
    <p>Born on 12th August, 1950 in Bobbili, Vizianagaram District to Shri. G. Venkatarao and Smt. G. Appayyamma. He studied BSc.</p>
    <p>He worked in Police Department from the ending of S.I of Police to Additional S.P. He received 2 Mementos Service, Above 40 Cash Rewards, and Above 25 Good Service certificates.</p>
    <p>Married to G. Lakshmi Chellayyamma. Has two daughters, both well educated. One daughter working as a HOD (computer science) in Pydah college, Boyapalem, Visakhapatnam. Another daughter is a housewife.</p>
    <p>Contact No: Mobile No: 98666 51514 / 9491 228234</p>
</div>