<!DOCTYPE html>
<html lang="en">
<form>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MEDIENROLL - Your Page Title</title>
    </head>

    <body>
        <header style="color: white; text-align: right;">
            <div style="float: left;">
                <img class="logo" src="assets/IMG/manager_logo.png">
            </div>
            <p style="color: black; text-align: right; margin-right: auto; font-size: 20px;">Bheemunipatnam Mutually
                Aided Co-operative Building Society Ltd., 2443</p>

           <button (click)="navigateToLogin()"
                style="border-radius: 5px; color: #fff; background-color: #337ab7; border-color: #04325a; font-size: 16px; padding: 10px 20px;">Member
                Login</button>
 
            <div style="background-color: lightgray; text-align: left; padding: 10px 20px; margin-top: 10px;">
                <button (click)="navigateToHome()" style="width: 80px; height: 40px; font-size: 16px;">Home</button>           
                <button (click)="navigateToAboutUs()" style="width: 90px; height: 40px; font-size: 16px;"> About Us</button>
                <button (click)="navigateToschemes()" style="width: 90px; height: 40px; font-size: 16px;"> Schemes</button>
                <button (click)="navigateToSocietyEvolution()" style="width: auto; height: 40px; font-size: 16px;"> Socity Evolution</button>
                <button (click)="navigateToMembershipAdmission()" style="width: 200px; height: 40px; font-size: 16px;">Membership Admission</button>
                <button (click)="navigateToManagenebtboard()" style="width: auto; height: 40px; font-size: 16px;"> Management Board</button>
                <button (click)="navigateToBasicStatitics()" style="width: 120px; height: 40px; font-size: 16px;"> Basic Statitics</button>
                <button (click)="navigateTocontactus()" style="width: auto; height: 40px; font-size: 16px;"> Contact us</button> 
                <button  (click)="navigateTogallery()" style="width: 90px; height: 40px; font-size: 16px;"> Gallery</button>
                <button (click)="navigateTofeedback()" style="width: 90px; height: 40px; font-size: 16px;"> Feed Back</button>
            </div>
        </header>
<br>
        <main>
            <div class="container">
                <h1
                    style="padding: 10px; margin: 0; border-bottom: 1px solid #cdcdcd; color: #3D1567; text-align: left;">
                    Schemes</h1>
                <div class="left-column">

                    <h2
                        style="padding: 10px; margin: 0; border-bottom: 1px solid #cdcdcd; color: #3D1567; text-align: left;">
                        Schemes Introduction</h2>
                   
                    <p
                        style="padding: 10px; margin: 0; font-size: 16px;">The Society is a no profit - no loss social service oriented entity, functioning as a "Corporate" with the sole objective to serve the community, at large.</p>
                       
                        <div *ngIf="isShowScheme1">
                            <app-scheme1></app-scheme1>
                          </div>
                          <div *ngIf="isShowScheme2">
                            <app-scheme2></app-scheme2>
                          </div>
                          <div *ngIf="isShowScheme3">
                            <app-scheme3></app-scheme3>
                          </div>
                          <div *ngIf="isShowScheme6">
                            <app-scheme4></app-scheme4>
                          </div>
                          
                </div>
                <div class="right-column">
                    <h2
                        style="padding: 10px; margin: 0; border-bottom: 1px solid #cdcdcd; color: #3D1567; text-align: left;">
                        List of Schemes</h2>
                        <br>
                    <div class="box1">
                        <div style="display: flex; flex-direction: column; align-items: lef; font-size: 15px;">
                       
                            <a style="padding: 8px; margin: 0; color: blue; border-bottom: 1px solid #cdcdcd;" (click)="enablesheme('Scheme - 1')">Scheme - 1</a>
                            <a style="padding: 8px; margin: 0;color: blue; border-bottom: 1px solid #cdcdcd;" (click)="enablesheme('Scheme - 2')">Scheme - 2</a> 
                            <a style="padding: 8px; margin: 0;color: blue; border-bottom: 1px solid #cdcdcd; " (click)="enablesheme('Scheme - 3')">Scheme - 3</a> 
                            <a style="padding: 8px; margin: 0;color: blue; " (click)="enablesheme('Scheme - 6')">Scheme - 6</a>                           
                        </div>
                        
                        
                </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </main>
        <br>
        <footer style="color: white; text-align: left;">
            <div style="display: flex; align-items: flex-start;">
                <div style="display: block;">
                    <img class="logo" src="assets/IMG/manager_logo.png">
                </div>
                <div style="margin-left: auto; font-size: 18px;">
                    <a (click)="navigateToDisclaimer()" >Disclaimer</a> |
                    <a (click)="navigateToAboutUs()" >About Us</a> |
                    <a (click)="navigateToschemes()" >Schemes</a> |
                    <a (click)="navigateTofeedback()" >Feedback</a> |
                    <a >Events Calendar</a> |
                    <a >Press Releases</a>
                    <br>
                    <div style="text-align: right;">
                        <button (click)="navigateToLogin()"
                            style="color: #fff; background-color: #5cb85c; border-radius: 5px; font-size: 16px; padding: 10px 20px; border-color: #4cae4c; margin-right: auto;">Support</button>
                    </div>
                </div>
            </div>


            <div style="display: flex; align-items: flex-start;">
                <div style="display: block; margin-right: 10px;">
                    Bheemunipatnam Mutually Aided Co-operative Building Society Ltd., 2443<br>
                    D.no 10-36-284,Krishna Colony Bus Stop, Krishna Colony, Bheemunipatnam – 531 163<br>
                    Phone: 08933 - 228234 or 228334 or (+91) 8341327640 / 9642726662
                </div>
            </div>

            <p style="color:white;text-align: center;">© 2024 BMACBS.com | All rights reserved | Designed & Developed by BMACBS</p>

        </footer>

    </body>
</form>

</html>