<!DOCTYPE html>
<html lang="en">
<form>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MEDIENROLL - Your Page Title</title>
    </head>

    <body>
        <header style="color: white; text-align: right;">
            <div style="float: left;">
                <img class="logo" src="assets/IMG/manager_logo.png">
            </div>
            <p style="color: black; text-align: right; margin-right: auto; font-size: 20px;">Bheemunipatnam Mutually
                Aided Co-operative Building Society Ltd., 2443</p>

           <button (click)="navigateToLogin()"
                style="border-radius: 5px; color: #fff; background-color: #337ab7; border-color: #2e6da4; font-size: 16px; padding: 10px 20px;">Member
                Login</button>
 
            <div style="background-color: lightgray; text-align: left; padding: 10px 20px; margin-top: 10px;">
                <button (click)="navigateToHome()" style="width: 80px; height: 40px; font-size: 16px;">Home</button>           
                <button (click)="navigateToAboutUs()" style="width: 90px; height: 40px; font-size: 16px;"> About Us</button>
                <button (click)="navigateToschemes()" style="width: 90px; height: 40px; font-size: 16px;"> Schemes</button>
                <button (click)="navigateToSocietyEvolution()" style="width: auto; height: 40px; font-size: 16px;"> Socity Evolution</button>
                <button (click)="navigateToMembershipAdmission()" style="width: 200px; height: 40px; font-size: 16px;">Membership Admission</button>
                <button (click)="navigateToManagenebtboard()" style="width: auto; height: 40px; font-size: 16px;"> Management Board</button>
                <button (click)="navigateToBasicStatitics()" style="width: 120px; height: 40px; font-size: 16px;"> Basic Statitics</button>
                <button (click)="navigateTocontactus()" style="width: auto; height: 40px; font-size: 16px;"> Contact us</button> 
                <button  (click)="navigateTogallery()" style="width: 90px; height: 40px; font-size: 16px;"> Gallery</button>
                <button (click)="navigateTofeedback()" style="width: 90px; height: 40px; font-size: 16px;"> Feedback</button>
            </div>
        </header>
        <br>
        <main>
            <div style="display: inline-block; ">
                <img class="Logo" src="assets/IMG/scheme.6.jpg">
            </div>
            <div style="display: inline-block;">
            </div>

            <div style="margin-bottom: 18px;">
                <div style="display: flex;">
                    <div
                        style="flex: 1;width: 85%; margin: 0 auto;  padding: 10px;  margin-right: 10px; box-sizing: border-box; border: 1px solid #cdcdcd;">
                        <h1 style="padding: 10px; margin: 0; border-bottom: 1px solid #cdcdcd; color: #3D1567;">About Us
                        </h1>
                        <p>Bheemunipatnam Mutually Aided Co-operative Building Society (BCBS) is a Co-operative Society
                            established on 29th May, 1970 with a laudable objective of providing impetus to the growth
                            of the first Municipality of the State of Andhra Pradesh (Second Municipality of the
                            country) through its activities and presently registered under the Mutually Aided
                            Co-operative Societies Act, 1995 of the state of Andhra Pradesh.</p>

                        <br>
                        <div style="text-align: right;">
                            <button (click)="navigateToAboutUs()"
                                style="padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; background-color: #5bc0de;color: white;">Know
                                More</button>
                        </div>
                    </div>
                    <div
                        style=" width: 85%; margin: 0 auto;  padding: 10px; flex: 1; margin-left: 10px; box-sizing: border-box; border: 1px solid #cdcdcd;">
                        <h1 style="padding: 10px; margin: 0; border-bottom: 1px solid #cdcdcd; color: #3D1567;">
                            Activities & Services</h1>
                        <p>Bheemunipatnam Mutually Aided Co-operative Building Society is a Registered, Autonomous
                            Co-operative Society under the APMACS Act 1995 functioning as a non-commercial entity on No
                            Profit – No Loss basis.</p>
                        <p>To develop the land as a layout as per VUDA standards with roads, power, water supply and
                            common utilities for social, recreational, religious purposes.</p>
                        <div style="text-align: right;">
                            <button
                                style="padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; background-color: #5bc0de;color: white;">Know
                                More</button>
                        </div>
                    </div>
                </div>
                <br>
                <div style="display: flex;">
                    <div
                        style=" width: 85%; margin: 0 auto;  padding: 10px; flex: 1; margin-right: 10px; box-sizing: border-box; border: 1px solid #cdcdcd;">
                        <h1 style="padding: 10px; margin: 0; border-bottom: 1px solid #cdcdcd; color: #3D1567;">Schemes
                            of the Society</h1>
                        <p>The Society has several other Schemes on its programme list. The likely programmes are a
                            multi-storeyed Apartment complex (about 128) in the vicinity of Bheemunipatnam, one village
                            (for about 100 inmates) for elder's homes. It has an ambitious desire to plan for a Herbal
                            Resort on an about 500 Acres in the Agency area of the State and provide relaxed stay in a
                            Natural environ and extend Herbal therapy to the needy in the country and abroad.</p>
                        <br>
                        <div style="text-align: right;">
                            <button (click)="navigateToschemes()"
                                style="padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; background-color: #5bc0de;color: white;">Know
                                More</button>
                        </div>
                    </div>
                    <div
                        style="width: 85%; margin: 0 auto;  padding: 10px; flex: 1; margin-left: 10px; box-sizing: border-box; border: 1px solid #cdcdcd;">
                        <h1 style="padding: 10px; margin: 0; border-bottom: 1px solid #cdcdcd; color: #3D1567;">
                            Management Board of the Society</h1>
                        <p>The Management Board reports and responsible to the General Body. It is the media for the
                            General Body to execute its policies and decisions. A Management Board as per this provision
                            was formed with 10 elected Directors on 27-04-2008. It is a perpetual body.</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div style="text-align: right;">
                            <button (click)="navigateToManagenebtboard()"
                                style="padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; background-color: #5bc0de;color: white;">Know
                                More</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer style="color: white; text-align: left;">
            <div style="display: flex; align-items: flex-start;">
                <div style="display: block;">
                    <img class="logo" src="assets/IMG/manager_logo.png">
                </div>
                <div style="margin-left: auto; font-size: 18px;">
                    <a (click)="navigateToDisclaimer()" routerLink="/Disclaimer">Disclaimer</a> |
                    <a (click)="navigateToAboutUs()" routerLink="/AboutUs">About Us</a> |
                    <a (click)="navigateToschemes()" routerLink="/Schemes">Schemes</a> |
                    <a (click)="navigateTofeedback()" routerLink="/Feedback">Feedback</a> |
                    <a routerLink="/EventsCalendar">Events Calendar</a> |
                    <a routerLink="/PressReleases">Press Releases</a>
                    <br>
                    <div style="text-align: right;">
                        <button (click)="navigateToLogin()"
                            style="color: #fff; background-color: #5cb85c; border-radius: 5px; font-size: 16px; padding: 10px 20px; border-color: #4cae4c; margin-right: auto;">Support</button>
                    </div>
                </div>
            </div>


            <div style="display: flex; align-items: flex-start;">
                <div style="display: block; margin-right: 10px;">
                    Bheemunipatnam Mutually Aided Co-operative Building Society Ltd., 2443<br>
                    D.no 10-36-284,Krishna Colony Bus Stop, Krishna Colony, Bheemunipatnam – 531 163<br>
                    Phone: 08933 - 228234 or 228334 or (+91) 8341327640 / 9642726662
                </div>
            </div>

            <p style="color:white;text-align: center;">© 2024 BMACBS.com | All rights reserved | Designed & Developed by
                BMACBS</p>

        </footer>


    </body>
</form>

</html>